.calendar-container {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr); /* Adjust column sizes */
  background-color: #ddd;
}

.calendar-header {
  display: contents;
}

.time-header {
  grid-column: 1;
  background-color: #f0f0f0;
}

.tech-header {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
}

.calendar-body {
  display: contents;
}

.time-slot-row {
  display: contents;
}

.time-label {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}

.time-slot {
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  overflow: visible;
 
}

.time-slot.lunch-time-slot {
  background-color: #ccc; /* Gray out lunch time slots */
  pointer-events: none; /* Disable clicking */
}

.appointment {
  background-color: #2297c2; /* Change color as needed */
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
}
